
<h1>Nom: <%= @style.name %></h1>
<h1>Info: <%= @style.info %></h1>
<%= link_to "Supprimer #{@style.name}", style_path(@style), method: :delete %>

<% if (policy(@style).edit?) %>
    <%= link_to "Update #{@style.name}", edit_style_path(@style) %>
<% end %>
